# This whole file was added to this dir by martinf
# See onecom 'how can i disable the varnish cache' at ...
# https://help.one.com/hc/en-us/articles/115005586269

Header add "disablevcache" "true"

<FilesMatch "\.(html|htm|js|css|php)>
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</FilesMatch>